<!DOCTYPE html>
<html lang="en" xmlns:th=" www.thymeleaf.com">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<a href="/" >Show all address book</a><br/>
First Name: <span th:text="${addressbook.firstname}"></span><BR/>
Last Name: <span th:text="${addressbook.lastname}"></span><BR/>
Address: <span th:text="${addressbook.address}"></span><BR/>
Phone: <span th:text="${addressbook.phonenumber}"></span><BR/>
Email: <span th:text="${addressbook.email}"></span>
<a th:href="@{/delete/{id}(id=${addressbook.id})}" >Delete this Address book</a>

</body>
</html>